.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.1);
    margin: 5vh auto;
    max-width: 350px;
    padding: 20px;
    text-align: center;

    &__item {
      display: flex;
      height: 25px;
      border: 0.5px solid;
      border-radius: 4px;
      margin: 2px;
      padding: 2px;
    }

    & p {
      margin-left: 2px;
    }
  
    button {
      background-color: #6c56fc;
      border-radius: 4px;
      color: #ffffff;
      width: 100%;
      height: 40px;
      margin: 10px auto;
      cursor: pointer;
      transform: background-color .4s ease-in-out;
  
      &:hover {
        background-color: #8170f1;
      }
    }
    
  }